.footer {
    display: flex;
    background-color: #A78236;
    padding: 30px;
    color: white;
}

.footers {
    background-color: #A78236;
}
.copy {
    margin-left: 40%;
    gap: 8px;
    font-size: 15px;
}
.head {
    font-size: 20px;
}

.signup {
    color: #FFF;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 25%;
margin-left: 30%;
margin-top: 5%;
}

.input {
    background-color:transparent;
    border: 2px solid  #473614;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.submit {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.contactus {
    margin-top: 15%;
    margin-left: -22.5%;
    width: 25%;
}
@media (max-width:600px) {
    .footer {
        padding: 0;
    }

    .copy {
        margin-left: 15%;
        margin-top: 10%;
    }
    .signup {
        margin-left: -95%;
        width: 70%;
        margin-top: 62%;
    }

    .input {
        padding: 5px;
        width: 50%;
    }
    .submit {
        padding: 5px;
    }
    .contactus {
        display: none;
    }
    .noshow {
        display: none;
    }
    .platform {
        margin: 0;
    }
}