@media (max-width:576px) {
        .carousell {
                box-sizing: border-box;
                
        }
}

@media (max-width:425px) {
        .carousell {
                box-sizing: border-box;
                width: 100%;
        }
}

